body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}
header {
    background-color: #2b2d42;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.experience-link-top {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b2d42;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px; /* Adds space below the button */
    transition: background-color 0.3s;
}
.experience-link-top:hover {
    background-color: #8d99ae;
}
main {
    padding: 20px;
}
section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section h2 {
    font-size: 24px;
    color: #2b2d42;
    margin-bottom: 10px;
}
section p {
    font-size: 16px;
    color: #333;
}
.section-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
footer {
    background-color: #8d99ae;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.experience-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2b2d42;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.experience-link:hover {
    background-color: #8d99ae;
}